
.infoDiv {
    width: 47%;
	border: 2px solid #ddd;
	border-radius: 4px;
	padding: 8px;
	margin-bottom:10px;
    min-height:100px;
    display: inline-block;
    vertical-align: top;

}

.ocwSelect {
    width: 100%;
}


.special-controls {
    margin-left:auto !important;
    margin-right: auto;
    width: 200px;
}


.roleButton {
    margin-bottom:5px;
}


.span-left,  .span-right {
    width:35%;

}

.span-center {
    margin-top:25px;
    width: 18%;
    text-align: center;

}

.deploymentStatus {
    width:16px;
    height: 16px;
    margin-right: 5px;
}

#activateMonitoring {
    margin-left: 10px;
    margin-right: 5px;
}

.costEvaluationResults {
    padding: 20px 0 20px;
    font-size: 18px;
    text-align: center;
}

.divVm{
    margin:10px 0px;
}

.ulVms {
    margin-left: 10px;
    
}

.ulHardware {
    margin-left: 20px
}
.ulHardware li {
    list-style: disc;
}