
.infoDiv {
    width: 47%;
	border: 2px solid #ddd;
	border-radius: 4px;
	padding: 8px;
	margin-bottom:10px;
    min-height:100px;
    display: inline-block;
    vertical-align: top;

}


.infoDiv {
    width: 47%;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    margin-bottom:10px;
    min-height:100px;
    display: inline-block;
    vertical-align: top;

}


.logo {
    margin:auto;
    text-align: center;
    width: 300px;
    height: 34px;
}

.imgLogo {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.logoForm .alert {
    display: none;
}

.logoForm .previewLogo {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    width: 300px;
    height: 34px;


}

.logoForm #divForm {
    width: 100%;
    margin: 0 auto;
}

.logoForm #PreviewImgDiv.hover {
    border: 1px solid red;
}


.logoForm .info {
    margin: 10px 0 0;
    color: #999999;
    width: 100%;
    text-align: center;
    font-size: 12px;

}
.ocwSelect {
    width: 100%;
}


.special-controls {
    margin-left:auto !important;
    margin-right: auto;
    width: 200px;
}


.roleButton {
    margin-bottom:5px;
}


.span-left,  .span-right {
    width:35%;

}

.span-center {
    margin-top:25px;
    width: 18%;
    text-align: center;

}



